.formSection {
  background-color: var(--accent-color);
  padding: 60px 80px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 800px;
  border: 1px solid #1e73be;
  padding: 40px 60px;
  margin: auto;
}
.instructions {
    font-family: var(--font--main);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}
.deadline {
    font-family: var(--font--main);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 50px;
}
.field {
  display: flex;
  flex-direction: column;
}



.field input,
.field textarea {
  padding: 10px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 8px;
  font-family: 'Roboto', sans-serif;
}
input:focus {
  outline: none;
  border: 1px solid #0056b3;
}
textarea:focus {
  outline: none;
  border: 1px solid #0056b3;
}
.field textarea {
  min-height: 100px;
  resize: vertical;
}

.fieldRow {
  display: flex;
  gap: 24px;
}

.button {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  padding: 8px 60px;
  font-size: 23px;
  font-weight: 300;
  font-family: 'Metrophobic', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: auto;
  margin-top: 30px;
}

.button:hover {
  background-color: #004494;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}
.date {
  margin-right: 20px;
      font-family: var(--font--main);
    font-size: 18px;
    font-weight: 400;
}
.label {
    font-family: var(--font--main);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

input[type="date"] {
  background-color: #f5f5f5;
  color: #222;
  border: none;
  border-radius: 8px;
  padding: 12px 16px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  outline: none;
  transition: all 0.3s ease;
}

input[type="date"]:focus {
  background-color: #fff;
  box-shadow: 0 0 0 2px rgba(0, 86, 179, 0.3);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(30%) sepia(60%) saturate(500%) hue-rotate(180deg);
  cursor: pointer;
}
.separator {
    margin: 0;
    opacity: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: none;
    border-top: 1px solid #0056b3;
    width: 100%;
    margin-right: auto;
}
.fadeIn {
    opacity: 0;
    animation: fadeInAnim 0.4s ease forwards;
}

@keyframes fadeInAnim {
    to {
        opacity: 1;
    }
}
