.header {
    background-color: var(--accent-color);
    padding: 10px 18px;
    text-align: center;
    border-bottom: 2px solid var(--secondary-color);
    position:sticky;
    top:0;
    z-index: 1000;
}

/* LINKS */
.whiteLink {
    text-decoration: none;
    color: var(--secondary-color)!important;
    font-family: var(--font-main);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
}
.whiteLink:hover,
.whiteLink:focus,
.whiteLink:active {
    color: var(--hover-color)!important;  
}
.venueLink {
  cursor: pointer !important;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logoIcon {
  width: 170px;
  height: 70px;
}
.inner {
  position: relative;
}


.navBar > *:not(:last-child) {
  margin-right: 32px; /*gap-5 */
}
.navBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navList {
  display: flex;
  align-items: center;
}
.navItem {
  position: relative;
  margin-right: 60px; /* ← РАВНОМЕРНЫЙ ОТСТУП */
}
.navItem:last-child {
  margin-right: 0;
}

/* VERTICAL SEPARATOR */
.navItem:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -32px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 30px;
  background-color: var(--secondary-color);
}

/* DROPDOWN POSITION */
.dropdownWrapper {
  position: relative;
}

/*ARROW */
.arrow {
  font-size: 10px;
  margin-left: 5px;
  transition: transform 0.2s ease;
}

/* DROPDOWN MENU */
.dropdownMenu {
  position: absolute;
  top: 64px;
  left: -80px;
  background: white;
  padding: 10px 0;
  border-radius: 6px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  animation: fadeIn 0.2s ease;
  z-index: 100;
  min-width: 180px;
}

.dropdownItem {
  display: block;
  padding: 10px 18px;
  color: #003b87;
  text-decoration: none;
  white-space: nowrap;
  font-family: var(--font-main);
  font-size: 18px;
}

.dropdownItem:hover {
  background: #eaf0ff;
}

/* FADE IN ANIMATION */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-6px); }
  to { opacity: 1; transform: translateY(0); }
}
