.header {
    background-color: var(--accent-color);
    padding: 10px 18px;
    text-align: center;
    border-bottom: 2px solid var(--secondary-color);
    position:sticky;
    top:0;
    z-index: 1000;
}
.whiteLink {
    text-decoration: none;
    color: var(--secondary-color)!important;
    font-family: var(--font-main);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
}
.whiteLink:hover,
.whiteLink:focus,
.whiteLink:active {
    color: var(--hover-color)!important;  /* сохраняем белый цвет при hover/focus/active */
}


.navItem {
  position: relative;
}


.navItem:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -25px; 
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 30px;
  background-color: var(--secondary-color); 
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logoIcon {
  width: 170px;
  height: 70px;
}

.inner {
  position: relative;
}

/* Блок Venue */
.dropdownWrapper {
  position: relative;
}

/* Стрелочка */
.arrow {
  font-size: 10px;
  margin-left: 5px;
  transition: transform 0.2s ease;
}

.dropdownWrapper:hover .arrow {
  cursor: pointer;
  transform: rotate(180deg);
}

/* Выпадающее меню */
.dropdownMenu {
  position: absolute;
  top: 64px;
  left: -44px; /* ← держит меню внутри контейнера */
  background: white;
  padding: 10px 0;
  border-radius: 6px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  animation: fadeIn 0.2s ease;
  z-index: 100;
  min-width: 180px;
}

/* Элемент меню */
.dropdownItem {
  display: block;
  padding: 10px 18px;
  color: #003b87;
  text-decoration: none;
  white-space: nowrap;
}

.dropdownItem:hover {
  background: #eaf0ff;
}

/* Анимация плавного появления */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-6px); }
  to { opacity: 1; transform: translateY(0); }
}

.dropdownTrigge {
  display: flex;
  align-items: center;
  cursor: pointer;
}