.card {
  border: 1px solid #1e73be;
  padding: clamp(12px, 2.5vw, 20px);
  background-color: #fff;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  width: 100%;
}

.name {
  font-size: clamp(16px, 2.5vw, 26px);
  font-weight: 400;
  margin-bottom: 15px;
}

.department {
  font-size: clamp(13px, 1.5vw, 17px);
  line-height: 1.4;
  margin-bottom: 15px;
}

.email {
  font-size: clamp(12px, 1.3vw, 16px);
  color: #000;
  word-break: break-word;
}

.image {
  width: clamp(60px, 10vw, 100px);
  height: clamp(60px, 10vw, 100px);
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}