.title {
    font-family: var(--font-title);
    font-size: 36px;
    color: var(--primary-color);
    margin-bottom: 35px;
    text-transform: uppercase;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px;
}