.description {
    font-size: 18px;
    color: #222;
    margin: 0;
    font-weight: 400 !important;
    letter-spacing: 0.5px;
    font-weight: 300;
    margin-bottom: 20px;
}

.subheading {
    font-size: 20px;
    color: #222;
    font-weight: 600 !important;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}

.scheduleContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.programSection {
    background-color: var(--accent-color);
    padding: 50px 80px;
    padding-bottom: 80px;
    text-align: left;
}