.description {
    font-size: 18px;
    color: #222;
    margin: 0;
    font-weight: 400 !important;
    letter-spacing: 0.5px;
    font-weight: 300;
    margin-bottom: 20px;
}

.subheading {
    font-size: 20px;
    color: #222;
    font-weight: 600 !important;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}

.scheduleContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 50px;
}

.programSection {
    background-color: var(--accent-color);
    padding: 50px 80px;
    padding-bottom: 80px;
    text-align: left;
}

.loading {
  text-align: center;
  margin: 50px;
  font-size: 18px;
}

.day {

    letter-spacing: 0.5px;
    font-size: 18px;
    color: var(--text-color);
    margin-bottom: 30px;
    font-family: var(--font-main);
    font-weight: 400;
}

.date {
      font-family: var(--font-title);
    font-size: 36px;
    color: var(--primary-color);
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: 200;
    text-transform: uppercase;

}

.session {
  margin-bottom: 25px;
}

.sessionHeader {
  margin-bottom: 10px;
}

.chair {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-color);
      font-family: var(--font-main);
      margin-bottom: 20px;
}

.talkList {
  border-left: 2px solid #ddd;
  margin-left: 10px;
  padding-left: 20px;
}

.talk {
  display: flex;
  margin-bottom: 18px;
}

.time {
  width: 140px;
  font-weight: 400;
}


.speaker {
  font-weight: 400;
}

.title {
  font-size: 18px;
      font-family: var(--font-main);
}

/* Coffee break style */
.break {
  display: flex;
  margin-bottom: 20px;
  background: #f5f5f5;
  padding: 10px 15px;
  border-radius: 6px;
  border-left: 4px solid #ffb300;
}

.break .title,
.break .speaker {
  font-weight: 600;
}
.abstractInfo {
  display: flex;
  gap: 30px;
 flex-direction:row;
}