.container {
  padding: 50px 80px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--accent-color);
}

.error {
  color: red;
  margin: 20px 0;
  font-family: var(--font-main);
  font-size: 20px;
}
.redirecting {
  margin-top: 10px;
  font-family: var(--font-main);
  font-size: 18px;
}

.logoutButton {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  padding: 10px 50px;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Metrophobic', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  margin: auto;
}
.logoutButton:hover {
  background-color: #004494;
}

.buttonGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.adminButton {
  background-color: var(--accent-color);
    color: var(--text-color);
  border: 1px solid #1e73be;
  padding:  40px 30px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}
.adminButton:hover {
    background-color: #e2ebf6;
}
.buttonTitle {
    margin: 0;
    font-size: 20px;
      text-transform: uppercase;
    font-family: var(--font-main);
    
}
.description {
    margin: 0;
    font-size: 17px;
    font-family: var(--font-main);
}
.adminIcon {
    font-size: 40px;
    color: var(--secondary-color);
}
.iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}