.card {
  border: 1px solid #1e73be;
  padding: 20px;
  background-color: #fff;
  box-sizing: border-box;
  align-items: center;
  text-align: left;
}
.title {
  font-size: 22px;
  font-family: var(--font-title);
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 1.4;
}
.authors {
  font-size: 18px;
  font-family: var(--font--main);
  font-weight: 600;
  margin-bottom: 10px;
}
.department {
font-family: var(--font-title);
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 15px;
}
.abstractText {
    font-family: var(--font--main);
  font-size: 15px;
  color: #333;
  text-align: left;
  line-height: 2;
  margin-bottom: 15px;
}
.separator {
    margin: 0;
    opacity: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: none;
    border-top: 1px solid #0056b3;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.button {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  padding: 8px 40px;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Metrophobic', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: auto;
}

.button:hover {
  background-color: #004494;
}