.participantsSection {
  background-color: var(--accent-color);
  padding: 50px 80px;
  padding-bottom: 80px;
  text-align: left;
}
.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}
.fadeIn {
    opacity: 0;
    animation: fadeInAnim 0.4s ease forwards;
}

@keyframes fadeInAnim {
    to {
        opacity: 1;
    }
}