.footer {
  background-color: var(--secondary-color);
  color: white;
  padding: 50px 60px;
  padding-bottom: 25px;
  font-family: var(--font-title);
  font-weight: 300;
  letter-spacing: 0.5px;

}

.footerContainer {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1 1 150px;
  width: 150 px;
}

.column:not(:last-child) {
  margin-right: 20px;
}

.column h4 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.column p,
.column a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  line-height: 1.6;
}

.column a:hover {
  text-decoration: underline;
}

.column p:first-child {
  font-size: 70px;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 15px;
}

.logoIcon {
  width: 180px;
  height: 70px;
}

.separator {
  margin: 0;
  opacity: 80%;
  margin-top: 2rem;
  border: none;
  border-top: 1px solid #ffffff;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.bottomRow {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

.adminLink {
  color: #fff;
  font-size: 17px;
  text-decoration: underline;
}

.adminLink:hover {
  color: #e0e0e0;
}

p {
  margin-bottom: 0;
}

.bottomText {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;

}