.card {
  border: 1px solid #1e73be;
  padding: 20px;
  background-color: #fff;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
}

.name {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 15px;
}

.department {
  font-size: 17px;
  line-height: 1.4;
  margin-bottom: 15px;
}

.email {
  font-size: 16px;
  color: #000;
}

.image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%; /* если хочешь аватарку */
  margin-bottom: 1rem;
}